@import 'variables';

.accommodations {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .accommodation-header {
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
    }

    .accommodation-list {
        width: 100%;
        display: flex;
        flex-direction: column;

        .accommodation-item {
            display: flex;
            flex-direction: column; // Stack vertically on mobile
            margin-bottom: 20px;
            align-items: stretch;
            width: 100%; 

            @media (min-width: 768px) {
                flex-direction: row; // Horizontal layout on larger screens
                position: relative; // Set relative positioning for parent
                height: 450px; // Fixed height for the whole item
                overflow: hidden; // Ensures nothing overflows the fixed height
            }

            .accommodation-info {
                background-color: $dark-grey; // Dark grey background
                color: $text-color-white; // White text
                width: 100%; // Full width on mobile
                position: absolute; // Absolute positioning for overlay
                z-index: 2; // Ensures it is above the image
                transition: all 0.3s ease; // Smooth transition for expansion
                left: 0;
                top: 0;
                bottom: 0;
                @media (min-width: 768px) {
                    width: 40%; // Initial width
                    &:hover {
                        width: 60%; // Width increases on hover
                    }
                }
                h3 {
                    font-size: $text-large;
                    margin: 0 0 10px 0;
                }
                p {
                    margin: 0 0 10px 0;
                    font-size: $text-large;
                }
                .additional-text, .learn-more-button {
                    display: none; // Initially hidden
                }
                .accommodation-info-top {
                    text-align: right;
                }
                .text-container{
                    position: relative;
                    top: 30%;
                    right: 20%;
                }
                .underline {
                    width: 480px;
                    height: 2px;
                    background-color: $brand-color; // Thematic color for the underline
                    margin: 10px 0;
                    position: relative;
                    left: 65%;
                }

                &:hover {
                    .accommodation-info-top {
                        text-align: left;
                    }
                    .additional-text, .learn-more-button {
                        display: block; // Show on hover
                        text-align: left;
                        font-size: $default-text-size;
                    }
                    .additional-text {
                        width: 50%;
                    }
                    .text-container{
                        right: 0;
                        left: 20%;
                    }
                    .underline {
                        width: 780px;
                        left: 0;
                    }
                }
                
                
            }

            .accommodation-image {
                position: absolute; // Ensures image stays in place
                width: 60%; // Initially takes 60% of the width
                height: 100%; // Maintain the height as fixed by the parent
                top: 0;
                right: 0;
                bottom: 0;
                z-index: 1; // Under the text block

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover; // Ensures the image covers the area nicely
                }
            }
        }
    }
}

.learn-more-button {
    padding: 10px 20px;
    background-color: transparent;
    color: $text-color-white;
    border: $text-color-white 1px solid;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: darken($brand-color, 10%);
    }
}
