@import 'variables';

.accommodations {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .accommodation-header {
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
        h2 {
            color: $text-color;
            font-size: $H1;
            margin: 5px;
                &::after {
                content: ''; 
                display: block;
                position: absolute;
                left: 50%; 
                transform: translateX(-50%);
                width: 200px; 
                height: 2px; 
                background-color: $brand-color; 
                margin-top: 5px; 
            }
        }
        span {
            font-size: $text-small;
        }
    }

    .accommodation-list {
        width: 100%;
        display: flex;
        flex-direction: column;

        .accommodation-item {
            display: flex;
            flex-direction: column; 
            margin-bottom: 20px;
            align-items: stretch;
            width: 100%;

            @media (min-width: 768px) {
                flex-direction: row; 
                position: relative;
                height: 450px;
                overflow: hidden;
            }

            .accommodation-info {
                background-color: $dark-grey;
                color: $text-color-white;
                width: 100%;
                position: relative;
                z-index: 2;
                transition: all 0.3s ease;
                padding: 20px 0; 
                left: 0;
                top: 0;
                bottom: 0;
                @media (min-width: 768px) {
                    position: absolute;
                    width: 40%;
                    &:hover {
                        width: 60%;
                    }
                }
                h3 {
                    font-size: $text-large;
                    margin: 0 0 10px 0;
                }
                p {
                    margin: 0 0 10px 0;
                    font-size: $text-large;
                }
                .additional-text, .learn-more-button {
                    display: block;
                    font-size: $text-small;
                    @media (min-width: 768px) {
                        display: none;
                    }
                }
                .accommodation-info-top {
                    text-align: center;
                    @media (min-width: 768px) {
                        text-align: right;
                    }
                }
                .text-container{
                    right: 0;
                    padding: 20px;
                    text-align: center;
                    @media (min-width: 768px) {
                        position: relative;
                        top: 30%;
                        right: 20%;
                    }
                }
                .underline {
                    width: 80%;
                    height: 2px;
                    background-color: $brand-color;
                    margin: 10px 0;
                    position: relative;
                    left: 10%;
                    @media (min-width: 768px) {
                        width: 480px;
                        left: 65%;
                    }
                }

                &:hover {
                    .accommodation-info-top {
                        text-align: left;
                    }
                    .additional-text, .learn-more-button {
                        display: block;
                        text-align: left;
                        font-size: $default-text-size;
                    }
                    .additional-text {
                        width: 50%;
                    }
                    .text-container{
                        right: 0;
                        left: 20%;
                    }
                    .underline {
                        width: 780px;
                        left: 0;
                    }
                }
                
                
            }

            .accommodation-image {
                position: relative;
                width: 100%;
                height: 100%;
                top: 0;
                right: 0;
                bottom: 0;
                z-index: 1;
                @media (min-width: 768px) {
                    position: absolute;
                    width: 60%;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}

.learn-more-button {
    padding: 10px 20px;
    background-color: transparent;
    color: $text-color-white;
    border: $text-color-white 1px solid;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: darken($brand-color, 10%);
    }
}
