// Variables
$font-stack: 'Helvetica', sans-serif;
$H1: 2rem;
$H2: 1.5rem;
$H3: 1.25rem;
$text-small: 0.8rem;
$text-large: 1.5rem;
$default-text-size: 1rem;
$text-color-white: #fff;
$text-color: #000;
$link-hover-color: #ccc; 
$brand-color: #640000; 
$black-transparent: rgba(0, 0, 0, 0.7);
$dark-grey: #333;
