<div class="about-section">
    <div class="about-text">
        <span>ICH BIN EIN KLEINER BLINDTEXT</span>
        <h1>ÜBER UNS</h1>
        <div class="text-columns">
            <p>Hallo, Ich bin ein kleiner Blindtext. Und zwar schon so lange ich denken kann. Es war nicht leicht zu verstehen, was es bedeutet, ein blinder Text zu sein: Man ergibt keinen Sinn. Wirklich keinen Sinn. Man wird zusammenhangslos eingeschoben und rumgedreht – und oftmals gar nicht erst gelesen. Aber bin ich allein deshalb ein schlechterer Text als andere?</p>
            <p>Na gut, ich werde nie in den Bestsellerlisten stehen. Aber andere Texte schaffen das auch nicht. Und darum stört es mich nicht besonders blind zu sein. Und sollten Sie diese Zeilen noch immer lesen, so habe ich als kleiner Blindtext etwas geschafft, wovon all die richtigen und wichtigen Texte meist nur träumen.</p>
        </div>
    </div>
    <div class = "gallery-container">
        <div class="gallery">
            <div class="left-column">
                <div class="image-container">
                    <img src="/images/Interior5.png" alt="Description of image 1">
                    <div class="overlay">
                        <p>Exclusivität</p>
                    </div>
                </div>
                <div class="image-container">
                    <img src="/images/interior15.png" alt="Description of image 2">
                    <div class="overlay">
                        <p>Exclusivität</p>
                    </div>
                </div>
            </div>
            <div class="right-column">
                <div class="right-column-row">
                    <div class="image-container">
                        <img src="/images/interior13.png" alt="Description of image 3">
                        <div class="overlay">
                            <p>Exclusivität</p>
                        </div>
                    </div>
                    <div class="image-container">
                        <img src="/images/Interior11.png" alt="Description of image 4">
                        <div class="overlay">
                            <p>Exclusivität</p>
                        </div>
                    </div>
                </div>
                <div class="right-column-single">
                    <div class="image-container">
                        <img src="/images/Interior8.png" alt="Description of image 5">
                        <div class="overlay">
                            <p>Exclusivität</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="carousel">
        <div class="swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="/images/Interior5.png" alt="Description of image 1"></div>
            <div class="swiper-slide"><img src="/images/interior15.png" alt="Description of image 2"></div>
            <div class="swiper-slide"><img src="/images/interior13.png" alt="Description of image 3"></div>
            <div class="swiper-slide"><img src="/images/Interior11.png" alt="Description of image 4"></div>
            <div class="swiper-slide"><img src="/images/Interior8.png" alt="Description of image 5"></div>
        </div> 
        <!-- Add Navigation -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        </div>
    </div>  
</div>

