<section class="accommodations">
    <div class="accommodation-header">
        <span>ICH BIN EIN KLEINER BLINDTEXT</span>
        <h2>Unsere Unterkünfte</h2>
    </div>
    <div class="accommodation-list">
        <div class="accommodation-item">
            <div class="accommodation-info">
                <div class="accommodation-info-top">
                    <h3>Foster Residence</h3>
                    <div class="underline"></div>
                    <p>St. George’s Paye</p>
                </div>
                <p class="additional-text">Hallo. Ich bin ein kleiner Blindtext. Und zwar schon so lange ich denken kann. Es war nicht leicht zu verstehen, was es bedeutet, ein blinder Text zu sein: Man ergibt keinen Sinn. Wirklich keinen Sinn. Man wird zusammenhangslos eingeschoben und rumgedreht – und oftmals gar nicht erst gelesen.</p>
                <button class="learn-more-button">Mehr erfahren</button>
            </div>
            <div class="accommodation-image">
                <img src="/images/Outdoor8.png" alt="Foster Residence">
            </div>
        </div>
    </div>
</section>
